<div class="p-[5px] bg-white flex-col justify-start items-start flex">
    <div class="w-[236px] pl-8 pr-2 py-1.5 bg-white justify-start items-center gap-2 inline-flex">
        <div class="grow shrink basis-0 text-slate-700 text-sm font-medium font-['Inter'] leading-tight">Back</div>
        <div class="text-slate-500 text-xs font-medium font-['Inter'] leading-tight">⌘[</div>
    </div>
    <div class="w-[236px] pl-8 pr-2 py-1.5 bg-white justify-start items-center gap-2 inline-flex">
        <div class="grow shrink basis-0 opacity-50 text-slate-700 text-sm font-medium font-['Inter'] leading-tight">
            Forward</div>
        <div class="opacity-50 text-slate-500 text-xs font-medium font-['Inter'] leading-tight">⌘]</div>
    </div>
    <div class="w-[236px] pl-8 pr-2 py-1.5 bg-white justify-start items-center gap-2 inline-flex">
        <div class="grow shrink basis-0 text-slate-700 text-sm font-medium font-['Inter'] leading-tight">Reload</div>
        <div class="text-slate-500 text-xs font-medium font-['Inter'] leading-tight">⌘R</div>
    </div>
    <div class="w-[236px] pl-8 pr-2 py-1.5 bg-slate-100 rounded-md justify-start items-center gap-2 inline-flex">
        <div class="grow shrink basis-0 text-slate-700 text-sm font-medium font-['Inter'] leading-tight">More Tools
        </div>
        <div class="w-4 h-4 py-1 justify-center items-center flex"></div>
    </div>
</div>